//
   Created by joshua on 4/15/16.

extends layout

block tabs
    if isset(account)
        .ui.container
            .ui.grid
                .six.wide.column
                    .ui.special.cards
                        .card
                            .blurring.dimmable.image
                                .ui.dimmer
                                    .content
                                        .center
                                            a.ui.inverted.button(href='https://en.gravatar.com/emails/', target='_blank') Change Image
                                img(class='image', src='/assets/image/user.png', id='imageAvatar')
                            .content
                                a.header
                                    #{account.firstname}&nbsp;#{account.lastname}
                                .meta
                                    span.name= account.username
                            .extra.content
                                a
                                    i.server.icon
                                    =   account.containercount
                .ten.wide.column
                    form.ui.form(action='/post/accountEdit')
block scripts
    if isset(account)
        script.
            $('#imageAvatar').attr('src', 'https://secure.gravatar.com/avatar/' + md5('#{account.email}') + '?d=identicon&r=pg&s=600');
    else
        script.
            showModal('login', false);