//
   Created by joshua on 4/20/16.

extends layout

block tabs
    if isset(account)
        if account.admin == 1
            .ui.container
                .ui.grid
                    .four.wide.column
                        a.ui.basic.green.button(href='#', onclick='showModal("adduser")') Add User
                    .four.wide.column
                        a.ui.basic.red.button(href='#', onclick='showModal("deleteuser")') Delete User
                    .four.wide.column
                        a.ui.basic.green.button(href='#', onclick='showModal("changepasswordadmin")') Change User Password

block scripts
    unless isset(account)
        script.
            showModal('login', false);