//
   Created by joshua on 4/15/16.

extends layout

block tabs
    .ui.container
        .ui.top.attached.tabular.menu
            .item.active(data-tab='first')
                i.cubes.icon
                |   Containers
            .item(data-tab='second')
                i.plus.icon
                |   Deploy
        .ui.active.bottom.attached.tab.segment(data-tab='first')
            .ui.cards
                .card
                    .image
                        img(src='https://www.docker.com/sites/all/themes/docker/assets/images/Logo-Docker.svg')
                    .content
                        .header Container Name
                        .description
                            |   Container Description
                    .extra.content
                        span.right.floated
                            i.green.arrow.up.icon
                            |   Container Up/Down Status
        .ui.bottom.attached.tab.segment(data-tab='second')
            form.ui.form(method='post', action='/post/createContainer')
                .field
                    label(for='containerName') Container Name
                    input#containerName(type='text', name='name', placeholder='MySQL Node 1', required)
                .field
                    label(for='containerImage') Container Image
                    input#containerImage(type='text', name='image', placeholder='mysql', required)
                button(class='ui primary button', type='submit') Submit