//
   Created by joshua on 4/21/16.

.ui.modal#adduser
    .header Create New User
    .content
        form.ui.form#formCreateUser(action='/post/createUser', method='post')
            .field
                label(for='username') Username
                input#username(type='text', name='username', placeholder='exampleuser123', required)
            .field
                label(for='email') Email
                input#email(type='email', name='email', placeholder='user@example.com', required)
            .field
                label(for='password') Password
                input#password(type='password', name='password', placeholder='password', required)
            .field
                label(for='firstname') First Name
                input#firstname(type='text', name='firstname', placeholder='Example', required)
            .field
                label(for='lastname') Last Name
                input#lastname(type='text', name='lastname', placeholder='User', required)
            button.ui.positive.labeled.icon.button(type='submit')
                |   Create User
                i.checkmark.icon