//
   Created by joshua on 4/20/16.

.ui.modal#changepasswordadmin
    .header Change User Password
    .content
        .ui.icon.blue.message
            i.alarm.icon
            .content
                .header You are changing another users password
                p This should only be used as a last resort option if a user has forgotten their password!
        form.ui.form#formChangeUserPassword(action='/post/changePassword', method='post')
            .field
                label(for='email') Email
                select.ui.search.selection.dropdown#email(name='email', required)
                    option(value='Test') Test
                    option(value='Other') Other
            .field
                label(for='password') Password
                input#password(type='password', name='password', placeholder='password', required)
            button.ui.negative.labeled.icon.button(type='submit')
                |   Change Password
                i.checkmark.icon

script.
    $('#email').dropdown();