.ui.modal#login
    .header Login
    .content
        .ui.icon.red.message
            i.alarm.icon
            .content
                .header Private Page
                p You must log in to view this page.
        form.ui.form#formLogin(action='/post/loginUser', method='post')
            .field
                label(for='username') Username or Email
                input#username(type='text', name='username', placeholder='user@example.com', required)
            .field
                label(for='password') Password
                input#password(type='password', name='password', placeholder='password', required)
            button.ui.positive.labeled.icon.button(type='submit')
                |   Log In
                i.checkmark.icon